# Archivos compilados
*.o
*.pyc
*.class

# Directorios
node_modules/
__pycache__/
dist/
build/

# Archivos de entorno
.env
.env.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Entornos virtuales de Python
.venv/
venv/
env/

secrets/
config/config.json

# ... Tus configuraciones actuales ...

# Ignorar la persistencia y configuraciones del subproyecto InfluxDB
influxdb/data/
influxdb/mosquitto/data/
influxdb/mosquitto/log/
influxdb/node-red-data/
influxdb/secrets/
influxdb/.env

data/
**/data/