#pragma once

const char* WIFI_SSID     = "tu-red-wifi";
const char* WIFI_PASSWORD = "tu-contraseña";
const char* MQTT_BROKER   = "192.168.x.x";  // IP de tu ThinkPad en la red local
const int   MQTT_PORT     = 1883;